In [4]:
import pandas as pd  
   
# Define a dictionary containing employee data  
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi',  
                 'Gaurav', 'Anuj', 'Princi', 'Abhi','Princi'],  
        'Age':[27, 24, 22, 32,  
               33, 36, 27, 32, 1],  
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj', 
                   'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh','가나'],  
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', 
                         'B.Tech', 'B.com', 'Msc', 'MA','Phd']}  
     
   
# Convert the dictionary into DataFrame   
df = pd.DataFrame(data1) 

df

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA
8  Princi    1         가나           Phd

In [6]:
# iterating an element 
# of group 
  
grp = df.groupby('Name')
for name, group in grp:
    print(name, list(group.Address))
    print(group['Address'].iloc[-1])
    #for k in group.to_list():
    #    print("name",name,"k", k)
    #    print(df.iloc[k]['Address'])

Abhi ['Aligarh']
Aligarh
Anuj ['Kanpur', 'Kanpur']
Kanpur
Gaurav ['Jaunpur']
Jaunpur
Jai ['Nagpur', 'Allahabad']
Allahabad
Princi ['Kannuaj', 'Allahabad', '가나']
가나

In [13]:
import time
test = list(range(100000000))
s_time = time.time()
str(test)
e_time = time.time()
e_time - s_time

7.567216634750366

In [16]:
test_str = [str(i) for i in test]

In [19]:
s_time = time.time()
k = ','.join(test_str)
e_time = time.time()
e_time - s_time

1.6561603546142578

In [22]:
k[0]

'0'